<template>

<div class="item-selector" @click="fetchItems">

  <v-select 
    label="name" 
    id="v-select"
    :placeholder="`Choose a ${piece}...`"
    name="slayer-assignment"
    v-on:input="newEquipped"
    :options="slotItems">
  </v-select>

</div>

</template>

<script>

  import vSelect from 'vue-select';
  import { mapGetters, mapActions } from 'vuex';

  export default {

    name: 'ItemSelector',

    components: {
      vSelect
    },

    props: {

      piece: String,

    },

    methods: {

      newEquipped(item) {
        this.updateEquipped(item);
      },

      ...mapActions(['fetchItems', 'updateEquipped']),

    },

    computed: {

      ...mapGetters(['allItems']),

      slotItems(piece) {
        let itemsStore = this.allItems;

        let x = (piece.$options.propsData.piece).toLowerCase()

        return (itemsStore.filter(item => item.slot == x));

      }

    },

  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
