<template>

<div class="component">

  <div class="container">

    <div class="inv-selector" @click="fetchItems">

      <v-select 
        label="name" 
        id="v-select"
        :placeholder="`Choose an item...`"
        name="inventory-selector"
        v-model="item.item"
        :options="allItems">
      </v-select>

    </div>

    <div class="quantity-selector">

      <v-select 
        id="v-select"
        :placeholder="`Select a quantity...`"
        v-model="item.quantity"
        name="quantity-selector"
        :options="[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,
                    19,20,21,22,23,24,25,26,27,28]">
      </v-select>

    </div>

  </div>

</div>

</template>

<script>

  import vSelect from 'vue-select';
  import { mapGetters, mapActions } from 'vuex';

  export default {

    name: 'InventorySelector',

    data() {
      return {
        item: {item: null, quantity: "", index: this.index}
      }
    },

    components: {
      vSelect
    },

    props: {
      index: Number,

    },

    methods: {

      itemChange(item) {
        this.updateInventory(item)
      },

      ...mapActions(['fetchItems', 'updateInventory']),

    },

    computed: {

      ...mapGetters(['allItems']),

    },


    watch: {

      item: {
          handler(item) {
            this.itemChange(item)
        },
        deep: true
      }

    },


  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.inv-selector {
  width: 50%;
}

.quantity-selector {
  width: 50%;
}

.container {
  display: flex;
}


</style>
