<template>

<div class="sidenav">

  <div class="btn-group-vertical" id="sidenav-buttons">

    <div class="navbar-brand">
      <router-link class="router-link" to="/home">
          <img src="https://moddroid.com/wp-content/uploads/2018/07/old-school-runescape-mod-moddroid.png" width="100" height="100" class="d-inline-block align-top">
      </router-link>
    </div>

    <div style="display: flex;">
      <img src="https://oldschool.runescape.wiki/images/d/db/Inventory.png?1e52e" width="50">
      <router-link class="router-link" to="/home">Home</router-link>
    </div>

    <div style="display: flex;">
      <img src="https://lh3.ggpht.com/rISLrE2ij7Xi6XdxUBM2MYXyl-hL9S2-8nrpmLqgX0uoJxdw08DUohmgU73rGTD11YE=w300" width="50">
      <router-link class="router-link" to="/hiscores">Hiscores</router-link>
    </div>
   
    <div style="display: flex;">
      <img src="https://oldschool.runescape.wiki/images/8/8f/Combat_icon.png?93d63" width="50">
      <router-link class="router-link" to="/setup">Setup</router-link>
    </div>

    <div style="display: flex;">
      <img src="https://vignette.wikia.nocookie.net/2007scape/images/2/28/Slayer_icon.png/revision/latest/top-crop/width/360/height/450?cb=20181017211656" width="50">
      <router-link class="router-link" to="/new">Create</router-link>
    </div>

    <div style="display: flex;">
      <img src="https://oldschool.runescape.wiki/images/thumb/a/a2/Quests.png/1200px-Quests.png?f5120" width="50">
      <a @click="loadModalMsg" href="#" data-toggle="modal" data-target="#helpModal">Help</a>
    </div>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog modal-center">
      
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title black">Page Helper</h2>
          </div>
          <div class="modal-body">
            <p class="black">{{modal_msg}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

  </div>

</div>

</template>

<script>
export default {
  name: 'Navbar',
  props: {
  
  },

  data() {
    return {
      modal_msg: ""
    }
  },

  methods: {
    loadModalMsg() {
      switch (window.location.pathname) {
        // should load these messages from file
        case "/hiscores":
          this.modal_msg = `The hiscores on this page will be populated with
          the details of the username you submit on the homepage.
          Once details have been updated, they will only update if 
          the details are over 2 hours old to reduce load on the OSRS API and to decrease loading times`;
          break;
        case "/setup":
          this.modal_msg = `The setup on this page is popuated from the task you choose and submit on the homepage.
          If you are unsure on an item name that is within the inventory block then hover over it and a tooltip will be displayed with the item name.
          Setup buttons that are highlighted in red indicate that you do not have the required skills to use every item in that setup.`;
          break;
        case "/new":
          this.modal_msg = `To create a setup please select your desired items from the corresponding dropdown boxes.
          For inventory items please include select a quantity as this defaults to 0 if not chosen.
          If further inventory slots are required just press the "Add Slot" button above the inventory table.`;
          break;
        default:
          this.modal_msg = `This is the homepage where you can select the task and in-game character you would like to get information on.
          To populate the other pages of this site please input the required details here and press submit.
          This help box will populate with details for the corresponding page which you open it on. These other pages can be navigated to by using the links on the left hand side.`;
          break;
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .navbar-brand img {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
  }
  .sidenav {
    height: 100%; 
    /*background-color: #1A1A1D;*/
    background-color: #05386B;
    padding-top: 20px;
  }
  #sidenav-buttons > * {
    /* "> *" means all elements within this div */
    padding-bottom: 20px;
    /*color: #C3073F;*/
    color: white;
    font-size: 2vw;
    padding-left: 30%;
  }
  .router-link {
    width: 10%;
  }
  .black {
    color: black;
  }
  .modal-center {
    position: absolute;
    left: 50%;
    top: 20%;
  }

  .modal-body p {
    font-size: medium;
  }
</style>
