<template>

<div class="task-selector">

  <v-select 
    label="npc_name" 
    id="v-select"
    placeholder="Choose a slayer task... "
    name="slayer-assignment"
    v-on:input="newSelected"
    :options="allTasks">
  </v-select>

</div>

</template>

<script>

  import vSelect from 'vue-select';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'TaskSelector',

    components: {
      vSelect
    },

    methods: {

      newSelected(value) {
        this.updateSelected(value['npc_name'])
      }, 

      /* if having multiple methods aside from mapping actions then methods should be an object
       and map actions needs to be prefaced with ... which is called a spread operator */

      ...mapActions(['fetchTasks','updateSelected']),

    },

    computed: {

      ...mapGetters(['allTasks', 'getSelected']),

    },

    created() {

      this.fetchTasks();

    }

  };

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.task-selector {
  width: 100%;
}

</style>
