body {
	background-color: #05386B;
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

label, p, h1,h2,h3,h4,h5,h6, th {
	color: white;
}

a {
	outline: 0;
	/* removes dotted line from all a tags */
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}