<template>
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-2">
          <Navbar />
        </div>

        <div class="col-10">
          <div id="app">
            <router-view/>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  // @ is an alias to /src
  import axios from 'axios';

  export default {

    components: {
    },

    data() {
      return {
        username: "",
        skills: null,
      }

    },
    methods: {

    },
  }


</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  padding-top: 20px;
}
</style>
