<template>
	<div class="page">
		<!-- <h4>Updates to hiscores are limited to once every 6 hours to reduce load on OSRS API</h4> -->
		<h1 v-if="this.$parent.username" class="capitalize header">{{this.$parent.username}}'s Stats</h1>

		<table class="hiscores-table">
		
		<tr class="border_bottom">
			<th>Skill</th>
			<th>Level</th>
			<th>Experience</th>
			<th>Rank</th>
		</tr>

		<tr v-for="skill in this.$parent.skills">

			<th class="capitalize">{{skill.name}}</th>
			
			<th>{{skill.skill_level}}</th>

			<th v-if="skill.skill_experience">{{skill.skill_experience}}</th>
			<th v-else>--</th>

			<th v-if="skill.skill_rank">{{skill.skill_rank}}</th>
			<th v-else>--</th>

		</tr>

		</table> 

	</div>
</template>

<script>
	export default {
	  name: 'hiscores',
	  components: {
	  },
	  computed: {
	  	skillsCheck() {
	  		if (this.$parent.skills == null) {
	  			return false
	  		}
	  	}
	  },
	}
</script>

<style scoped>
	.header {
		padding-top: 20px;
	}
	.hiscores {
		padding-top: 20px;
	}
	.capitalize {
		text-transform: capitalize;
	}
	tr.border_bottom th {
		border-bottom:1px solid black;
	}
	.hiscores-table {
		width: 80%;
		margin-left: 10%;
	}
	h1 {
		color: #950740;
	}
</style>