<template>
	<div class="page">
			<img src="../../public/OSRS_Logo.png">
			<p class="capitalize">Loaded User: {{this.$parent.username}}</p>

			<!-- <p class="capitalize">Loaded Task: {{this.getSelected}}</p> -->

			<div class="container">

				<div v-if="this.getSetupError.status == 'error' " class="alert alert-danger" role="alert">
					{{this.getSetupError.message}}
				</div>

				<div v-if="this.getSetupError.status == 'success' " class="alert alert-success" role="alert">
					{{this.getSetupError.message}}
				</div>
				
				<div class="input-details">
					<h3 for="username">Username</h3>
					<input id="username-input" v-model="username" type="text">
				</div>

				<div class="input-details">
					<h3 id="v-select" for="slayer-assignment">Slayer Task</h3>
					<TaskSelector />
				</div>

				<div class="input-details">
					<label for="update-score"></label>
					<button @click="get_setups(); get_hiscores();" name="update-score" type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
	</div>
</template>

<script>
import axios from 'axios';
import vSelect from 'vue-select';
import { mapGetters, mapActions } from 'vuex';

// @ is an alias to /src
export default {
  name: 'home',
  components: {
  	vSelect
  },
  data() {
	return {
		username: "",
	}
  },
  methods: {

  	...mapActions(['fetchSetups']),

  	get_hiscores() {
  		console.log("running")
  		axios.get(`http://localhost:5000/hiscores/${this.username}`)
  		.then((res) => {
  			if (res.status == 200)  {
  				this.$parent.skills = res.data
  				this.$parent.username = this.username
  			}

  		})
  	},

  	get_setups() {
  		console.log("running")
  		if(this.$store.state.tasks.selected != "") {
  			this.fetchSetups(this.$store.state.tasks.selected);	
  			this.$store.state.tasks.current = this.$store.state.tasks.selected
  		}
  	},

  	
  },

  computed: {

  	...mapGetters(['allSetups', 'getSelected', 'getSetupError'])

  },

  mounted() {
  	this.$store.state.setups.errorMsg = "";
  }
}
</script>

<style scoped>
	.input-details {
		display: grid;
		grid-template-columns: 30% 50%;
		padding-top: 10px;
		margin:auto;
	}
</style>