<template>
	<div class="page">
		<div class="title-box">
			<h2>Input a new setup for a slayer monster below</h2>
			<h6>If you do not wish to include an item just leave the space blank</h6>
			<h6>Once you are happy with your item selections select your task and press the submit button</h6>
		</div>
		<p> Selected Task: {{$store.state.tasks.selected}}</p>
		<!-- <p> Selected Items: {{$store.state.items.equipped}}</p> -->
		<!-- <p> Selected Items: {{$store.state.items.inventory}}</p> -->
	

	<div class="row">
		<div class="col-6 equ-img">

			<h1 class="col-title">Equipment</h1>

			<table id="equipment-table" style="width: 100%">

				<tr align="left" v-for="(slot, index) in equipment">
					<!-- require is needed here for vbinding to
						"let webpack know that it should handle this strong as a dependency." 

						- source https://github.com/vuejs-templates/pwa/issues/42#issuecomment-308952794
					-->

					<div>

						<img style="float: left;" :src="require(`../../public/equipment_icons/${slot}.png`)">

						<EquippedSelector :piece="slot" />
			
					</div>

				</tr>

			</table>

		</div>
		<div class="col-6 inv-img">
			<!-- <img src="https://oldschool.runescape.wiki/images/thumb/e/e9/Inventory_tab.png/200px-Inventory_tab.png?dd7c2"> -->

			<div style="display: flex; width: 50%; margin: 0 auto;">
				<h1 style="padding-right: 10px" class="col-title">Inventory</h1>
				<!-- <p>{{inventorySlots}}</p> -->
				<button class="btn btn-sm btn-primary" @click="extendInventory">Add slot</button>
			</div>

			<table id="inventory-table" style="width: 100%">
		
				<div v-for="index in inventorySlots">
					<InventorySelector :index="index" />
				</div>

			</table>


		</div>

	</div>

	

	<TaskSelector style="width: 50%; margin: 0 auto; margin-top: 20px;" />

	<button style="margin-top: 10px;" class="btn btn-lg btn-primary" @click="submitSetup">Submit Setup</button>

	</div>
</template>

<script>
import axios from 'axios';
import vSelect from 'vue-select';


// @ is an alias to /src
export default {
  name: 'New_setup',
  components: {
  	vSelect, 
  },
  data() {
	return {

		equipment: [

			"Head", "Neck", "Body", 
			"Legs", "Feet", "Hands", 
			"Cape", "Weapon", "Shield", 
			"Ring", "Ammo"
		],

		inventorySlots: 5

	}
  },
  methods: {

  	submitSetup() {
  		axios.post(`http://localhost:5000/slayer/name/${this.$store.state.tasks.selected}/setup`, 
  			{
  				equipped: this.$store.state.items.new_equipped,
  				inventory: this.$store.state.items.new_inventory,
  				task: this.$store.state.tasks.selected
  			})
  		.then((res) => {
  			alert("Setup added, choose the task from the homepage to view your new setup!");
  		})
  	},
  	extendInventory() {
  		if(this.inventorySlots < 28) {
  			this.inventorySlots += 1
  		}
  	},
  	resetSelectedTask() {
  		this.$store.state.tasks.selected = "";
  	}

  },

  mounted() {
  	this.resetSelectedTask()
  }

}
</script>

<style scoped>

</style>