<template>
<div class="page">
<div class="setups" v-if="getSelected.length != 0">
	<h1>{{this.$store.state.tasks.current}} Setups</h1>

	<button 
		v-for="(setup, value) in allSetups"
		class="btn setup-button btn-primary" 
		v-bind:class="{ 'btn btn-danger': (isInvalidSetup(parseInt(value))) }"
		@click="selectSetup(value)">{{value}}
	</button>

	<div class="row">
		<div class="col-6 equ-img">

			<h1 class="col-title">Equipment</h1>

			<table id="equipment-table" style="width: 100%">

				<tr align="left" v-for="slot in equipment">
					<!-- require is needed here for vbinding to
						"let webpack know that it should handle this strong as a dependency." 

						- source https://github.com/vuejs-templates/pwa/issues/42#issuecomment-308952794
					-->

					<div>

						<img style="float: left;" :src="require(`../../public/equipment_icons/${slot}.png`)">

						<div style="float: left; margin-left: 5px;" v-for="item in currentSetup['equipped']">
							<div v-if="item.slot == slot.toLowerCase()">
								<img 
									style="float: left;" 
									:src="require(`../../public/items-icons/${item.id}.png`)">
								<h5 style="float: right;">{{item.name}}</h5>
							</div>
						</div>
			
					</div>

				</tr>

			</table>

		</div>
		<div class="col-6 inv-img">
			<!-- <img src="https://oldschool.runescape.wiki/images/thumb/e/e9/Inventory_tab.png/200px-Inventory_tab.png?dd7c2"> -->

			<h1 class="col-title">Inventory</h1>

			<table id="inventory-table" style="width: 100%">

				<div class="inv-row row h-25" v-for="chunk in chunkedInv">
					<div class="col-3" v-for="item in chunk" :title="item.name">
						<img :src="require(`../../public/items-icons/${item.id}.png`)">
					</div>
						
				</div>

			</table>


		</div>
	</div>
</div>
<div v-else>
	<h1>Please submit a task from the homepage</h1>
</div>
</div>
</template>

<script>

	import VueLodash from 'vue-lodash';
	import { mapGetters, mapActions } from 'vuex';

	export default {

		data() {
			return {
				equipment: ["Head", "Neck", "Body", 
							"Legs", "Feet", "Hands", 
							"Cape", "Weapon", "Shield", 
							"Ring", "Ammo"],
				chunkedInv: []
			}
		},
		methods: {

			...mapActions(['updateCurrentSetup', 'validSetups']),

			// this can be shortened to the computed property chunked by using the lodash library
			chunk(arr, len) {
				// if(this.$parent.inventory != null) {
				if(arr != null) {					
					let chunks = []
					let i = 0
					const n = arr.length

					while(i < n) {
						// push = add to end of array
						// slice returns the selected elements in array as new array object
						// first argument start point second argument end point
						chunks.push(arr.slice(i, i += len))
					}

					this.chunkedInv = chunks					
				}

			},

			selectSetup(value) {
				this.updateCurrentSetup(value);
				this.chunk(this.currentSetup['inventory'], 4);
			},

			isInvalidSetup(setupIndex) {
				return !this.getValidSetups.includes(setupIndex)

			}

		},

		computed: {

			...mapGetters(['allSetups', 'currentSetup', 'getSelected', 'getValidSetups']),

		},

		beforeMount() {
			if(this.getSelected != "") {
				this.selectSetup(1)
				if(this.$parent.skills != null) {
					this.validSetups(this.$parent.skills)
				}
			}
		}
		
	}
</script>

<style scoped>

.row { 
	height: 1000px;
	width: 100%;
}

.inv-row {
	padding-bottom: 10px;
}

.col-title {
	padding-bottom: 20px;
	text-decoration: underline;
}

#equipment-table {
	margin-left: 5%;
}

.setup-button {
	margin-right: 10px;
}

</style>
